<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactionsProps; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{transaction.name.first}}</td>
            <td>{{transaction.name.last}}</td>
            <td>{{transaction.amount}}</td>
        </tr>
    </tbody>
</table>